################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/01-HistorianHysteria/bin/Debug/net8.0
/01-HistorianHysteria/obj
